:root {
    --fbs-lighter: white;
    --fbs-bg: rgb(255, 218, 69);
    --fbs-bg-dark: rgb(130, 104, 0);
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #bbdefb, var(--fbs-lighter));
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}


/* header */

header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
}

#logo-title {
    margin: 0;
}


/* main */

::placeholder {
    text-align: center;
}