:root {
    --fbs-lighter: white;
    --fbs-bg: rgb(255, 218, 69);
    --fbs-bg-dark: rgb(130, 104, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fbs-bg);
}



/* header */

#logo-title {
    margin: 0;
}


/* main */

::placeholder {
    text-align: center;
}